<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All ingredients
    </h1>

    <a href="/ingredients/new" class="btn btn-block btn-outline-secondary">
      Add a new ingredient
    </a>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Ingredient
        </th>
        <th>
          Description
        </th>
        <th>
          Recipes
        </th>
        <th>
        </th>
      </tr>

      <% @ingredients.each do |ingredient| %>
      <tr>
        <td>
          <a href="/ingredients/<%= ingredient.id %>">
            <%= ingredient.title %>
          </a>
        </td>
        
        <td>
          <%= ingredient.description %>
        </td>
        
        <td>
          <% Component.where(ingredient_id: ingredient.id).each do |component| %>
            <ul>
              <a href= "/recipes/<%= component.recipe_id %>">
                <%= Recipe.find(component.recipe_id).title %>
              </a>
            </ul>
        <% end %>
        </td>
        
          <% if ingredient.user_id == current_user.id %>
          <td>
            <a href ="/ingredients/<%= ingredient.id %>/edit">
              Edit
            </a>
            <a href ="/delete_ingredient/<%= ingredient.id %>" style="color:red">
              Delete
            </a>
          </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>
