<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All ingredients
    </h1>

    <a href="/ingredients/new" style="color:#FFAF33">
      Add a new ingredient
    </a>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Ingredient
        </th>
        <th>
        </th>
        <th>
          Description
        </th>
        <th>
          Sample Recipe
        </th>
        <th>
        </th>
      </tr>

      <% @ingredients.each do |ingredient| %>
      <tr>
        <td>
          <a href="/ingredients/<%= ingredient.id %>" style="color:#FFAF33">
            <%= ingredient.title %>
          </a>
        </td>
        
        <td>
          <form action="/create_pantry" method="post" redirect_to("/ingredients")>
        
            <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">
            
            <input type="hidden" id="photo_id" name="ingredient_id" class="form-control" value="<%= ingredient.id %>">
          
            <button class="btn btn-block btn-outline-warning">
              Add to pantry 
            </button>
          </form>
        </td>
        
        <td>
          <%= ingredient.description %>
        </td>
        
        <td>
          <% ingredient.recipes.each do |recipe| %>
            <ul>
              <a href= "/recipes/<%= recipe.id %>" style="color:#FFAF33">
                <%= recipe.title %>
              </a>
            </ul>
        <% end %>
        </td>
        
          <% if ingredient.user_id == current_user.id %>
          <td>
            <a href ="/ingredients/<%= ingredient.id %>/edit" style="color:#FFAF33">
              Edit
            </a>
            <a href ="/delete_ingredient/<%= ingredient.id %>" style="color:red">
              Delete
            </a>
          </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>
