<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All recipes
    </h1>

    <a href="/recipes/new" style="color:#FFAF33">
      Add a new recipe
    </a>
  </div>
</div>

<%= search_form_for @q do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :title_cont, "Title contains:" %>
    <%= f.text_field :title_cont, :class => "form-control", :placeholder => "Enter a few characters" %>
  </div>

  <%= f.submit :class => "btn btn-secondary btn-block" %>
  
  <a href="/recipes" class="btn btn-default btn-block" style="color:#FFAF33">Clear filters</a>
<% end %>

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Title
        </th>

        <th>
          Image
        </th>

        <th>
          Description
        </th>
        <th>
          Comments
        </th>
        <th>
        </th>
      </tr>

      <% @recipes.each do |recipe| %>
      <tr>
        <td>
          <a href="/recipes/<%= recipe.id %>" style="color:#FFAF33">
            <%= recipe.title %>
          </a>
        </td>

        <td>
          <img src="<%= recipe.image %>" width="320">
        </td>

        <td>
          <%= recipe.instruction %>
        </td>

        <td>
          <% Comment.where(recipe_id: recipe.id).each do |comment| %>
            <div>
            "<%= comment.body %>"
            <% if comment.user == current_user %>
              <a href="/delete_comment/<%= comment.id %>" style="color:red">
                <i class="fa fa-trash"></i>
              </a>
            <% end %>
            </div>
            <div>
              -<a href="/users/<%= comment.user_id %>" style="color:#FFAF33">
            <%#= User.find(comment.user_id).username %>
                <%= comment.user.username %>
              </a>
            </div>
          <% end %>
        
          <form action="/create_comment" method="post" redirect_to("/recipes")>
        
          <div class="form-group">
            <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment...">
          </div>
        
          <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">
          
          <input type="hidden" id="photo_id" name="recipe_id" class="form-control" value="<%= recipe.id %>">
        
          <button class="btn btn-block btn-outline-secondary">
            Add Comment 
          </button>
          </form>
        </td>
        
        <% if recipe.user_id == current_user.id %>
          <td>
            <a href ="/recipes/<%= recipe.id %>/edit" style="color:#FFAF33">
              Edit
            </a>
            <a href ="/delete_recipe/<%= recipe.id %>" style="color:red">
              Delete
            </a>
          </td>
        <% end %>
      
        <td>
          <% like = Like.find_by(:recipe_id => recipe.id, :user_id => current_user.id) %>
            <% if like.present? %>
            <a href="/delete_like/<%= like.id %>" class="btn btn-link">
              <i class="fa fa-heart" style ="color:red"></i>
            </a>
            
            <% else %>
            <form action="/create_like" method="post">
              
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <input type="hidden" name="recipe_id" value="<%= recipe.id %>">

              <input type="hidden" name="user_id" value="<%= current_user.id %>">

              <button class="btn btn-link">
                <i class="fa fa-heart" style ="color:black"></i>
              </button>
            </form>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
