<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All components
    </h1>

    <a href="/components/new" class="btn btn-block btn-outline-secondary">
      Add a new component
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Recipe
        </th>

        <th>
          Ingredient
        </th>

        <th>
          Title
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @components.each do |component| %>
      <tr>
        <td>
          <%= component.id %>
        </td>

        <td>
          <%= component.recipe_id %>
        </td>

        <td>
          <%= component.ingredient_id %>
        </td>

        <td>
          <%= component.title %>
        </td>

        <td>
          <%= time_ago_in_words(component.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(component.updated_at) %> ago
        </td>

        <td>
          <a href="/components/<%= component.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
