<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Component #<%= @component.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/components" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/components/<%= @component.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit component
        </a>
      </div>

      <div class="col">
        <a href="/delete_component/<%= @component.id %>" class="btn btn-block btn-outline-secondary">
          Delete component
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Recipe
      </dt>
      <dd>
        <%= @component.recipe_id %>
      </dd>

      <dt>
        Ingredient
      </dt>
      <dd>
        <%= @component.ingredient_id %>
      </dd>

      <dt>
        Title
      </dt>
      <dd>
        <%= @component.title %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@component.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@component.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

