<% if @pantry.present? %>
  <% if @pantry.errors.any? %>
    <% @pantry.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      My Pantry
    </h1>
    
    <div>
    <ul class="list-group">
    <li class="list-group-item">
      <form action="/create_pantry" method="post">
        <div class="form-group">
          <label for="ingredient_id">
            <h3>Add an ingredient to my pantry</h3>
          </label>

          <%= select_tag("ingredient_id", options_from_collection_for_select(Ingredient.all, :id, :title), :class => "form-control") %>
          or <a href="/ingredients/new" style="color:#FFAF33">add a new ingredient</a> first
        </div>

        <!-- Label and input for actor_id -->
        <input type="hidden" name="user_id" value="<%= current_user.id %>">

        <button class="btn btn-block btn-outline-secondary">
          Add ingredient
        </button>
      </form>
    </li>
  </ul>
  </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Ingredient
        </th>
        <th>
          Description
        </th>
        <th>
        </th>
      </tr>
      
      <% Pantry.where(user_id: current_user.id).each do |pantry| %>
        <tr>
          <td>
            <a href="/ingredients/<%= Ingredient.find(pantry.ingredient_id).id %>" style="color:#FFAF33">
              <%= Ingredient.find(pantry.ingredient_id).title %>
            </a>
          </td>
          <td>
            <%= Ingredient.find(pantry.ingredient_id).description %>
          </td>
          <td>
            <a href="/delete_pantry/<%= pantry.id %>" style="color:red">
              Remove
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<h2>Recommended recipes</h2>
  <% Pantry.where(user_id: current_user.id).each do |pantry| %>
    <ul>
      <% Component.where(ingredient_id: pantry.ingredient_id).each do |component| %>
        <li class="list-group-item">
          <a href= "/recipes/<%= component.recipe_id %>" style="color:#FFAF33">
            <%= Recipe.find(component.recipe_id).title %>
          </a>
          uses <%= Ingredient.find(pantry.ingredient_id).title %>
        </li>
      <% end %>
    </ul>
  <% end %>